<!doctype html>
<link rel="icon" href="data:;base64,iVBORwOKGO=" />
<html lang="is">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Lora|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
  </head>
  <header>
    <h1 class="headTitle"><%- h1 %></h1>
  </header>
  <body>
      <h4 class="errTitle"><%- h4 %></h4>
      <h5 class="back"><%- h5 %></h5>
    <p><%- p %></p>

